:root {
    --main-bg-color: #232427;
    --main-fg-color: #FBFAF5;
    --second-bg-color: #2A2B2F;
    --second-fg-color: #FFF; 
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 1em;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    padding: 0 2%;
    transition: background-color 1s;
    }

    /* Atomic Selectors */
.pt25 {
    padding-top: 25px;
}

.pt100 {
    padding-top: 100px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb100 {
    padding-bottom: 70px;
}

.fs1-5 {
    font-size: 1.5rem;
}

    /* -------END-------- */

.container-full {
    padding: 40px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@media only screen and (min-width: 601px) {
    .menu {
        top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        bottom: 0;
    }
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-color: var(--main-bg-color);
    height: 50px;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.menu .menu__left {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}

.menu .menu__left .lang {
    cursor: pointer;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    border-bottom: 3px solid var(--main-fg-color);
}

.menu .menu__right {
    display: flex;
    width: 40%;
    align-items: center;
}

.menu .menu__right .toggle {
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    margin: 0 10px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 1px var(--main-fg-color),
                inset 0px 0px 1px var(--main-bg-color),
                inset 0px 0px 1px var(--main-bg-color);
}

.menu .menu__right .toggle .indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: scale(0.8);
    transition: 0.5s;
    box-shadow: inset 0px 0px 1px var(--main-fg-color),
                0px 0px 1px var(--main-bg-color);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-paragraph {
    letter-spacing: 2px;
}

.page {
    width: 100%;
    height: 100%;
    text-align: center;
}

.page__logo {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.page__logo > .logo {
    min-width: 340px;
    min-height: 160px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    font-size: 3.5rem;
    border-radius: 5px;
    transition: background-color 1s;
}

.page__logo > .social {
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--main-fg-color);
}

.page__logo > .logo > p:first-child {
    padding-left: 7px;
    font-size: 3.9rem;
    margin-bottom: -10px;
    margin-top: 15px;
}

.page__timetable {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page__timetable > .timetable {
    width: 100%;
	max-width: 900px;
    height: 80%;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px solid var(--main-fg-color);
}

table.timetable {
    width: 100%;
    min-width: 700px;
	max-width: 900px;
    height: 100%;
    min-height: 300px;
    border-collapse: collapse;
    letter-spacing: 1px;
    text-align: center;
}

table.timetable .first-row {
    border-bottom: 1px solid var(--main-fg-color);
}

table.timetable th {
    height: 40px;
    font-size: 0.9rem;
    padding-top: 4px;
}

table.timetable td {
    border-right: 1px solid var(--main-fg-color);
    font-size: 0.7rem;
}

table.timetable td:last-child {
    border: none;
}

table.timetable tr:nth-child(2) > td, tr:last-child > td {
    border: none;
}

.page__timetable .signup {
    font-size: 0.8rem;
    margin-top: 15px;
    letter-spacing: 1px;
}

.page__trainings {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.trainings {
    min-width: 340px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.training {
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--second-bg-color);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(255, 255, 255, 0.15);
} 

.trainings--head {
    font-size: 1rem;
    border-radius: 5px;
    padding-top: 5px;
}

.separator {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-top: 1px solid var(--main-fg-color);
}

.trainings--desc {
	font-size: 0.7rem;
    margin: 10px 0 20px 0;
    line-height: 15px;
    text-align: justify;
}

.page__trainers {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.trainers {
    max-width: 400px;
    min-width: 340px;
}

.nora, .mate, .dorian {
    border-radius: 10px;
    background-color: var(--second-bg-color);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(255, 255, 255, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
}

.nora, .mate {
    margin-bottom: 40px;
}

.nora-img, .mate-img, .dorian-img {
    width: 120px;
    height: 160px;
    margin-top: 15px;
    border: 1px solid var(--main-fg-color);
    border-radius: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nora-desc, .mate-desc, .dorian-desc {
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.head {
    padding-bottom: 15px;
}

.desc {
    font-size: 0.7rem;
    line-height: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

.nora-social, .mate-social, .dorian-social {
    text-align: right;
}

.page__prices {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.prices {
    letter-spacing: 1px;
}

.prices .aycm {
    font-size: 1.5rem;
    padding-top: 30px;
}

.prices .aycm--pkg {
    padding-bottom: 15px;
}

table.prices {
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

table.prices tr {
    line-height: 1.5rem;
}

.opengym {
    padding-top: 0.5rem;
    font-size: 0.8rem;
}
